<script type="text/html" id="api-docs-template">
  <p class="alert alert-info">
    Our API exposes a <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a>
    list of commands for you to use via our service.
  </p>
  <div data-bind="visible: routes().length === 0">Loading routes...</div>
  <div data-bind="visible: routes().length > 0">
    <div data-bind="foreach: routes()">
      <h4 data-bind="text: name"></h4>
      <p data-bind="text: url"></p>
      <p data-bind="text: description"></p>
      <div data-bind="if: example_request">
        <strong>Example Request:</strong>
        <span data-bind="text: example_request"></span>
      </div>
      <div data-bind="if: response_template">
        <strong>Response Template:</strong>
        <span data-bind="text: response_template"></span>
      </div>
      <div data-bind="if: post_body_template">
        <strong>Post Body Template:</strong>
        <span data-bind="text: post_body_template"></span>
      </div>
      <br/>
    </div>
  </div>
</script>