<script src="public/models/all.js"></script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="#" class="brand">Mapper Maker</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <form class="navbar-search pull-right">
          <input
            type="text"
            placeholder="Search"
            class="search-query span2">
        </form>
      </div>
    </div>
  </div>
</div>
<div data-bind="if: selectedMapper" class="container paddingPush">
  <div data-bind="template: {
      name: 'breadcrumb-template',
      data: selectedMapper
    }"></div>
  <section class="container">
    <div data-bind="template: {
      name: 'mapper-template',
      data: selectedMapper
    }" class="mapper"></div>
  </section>
</div>
<section data-bind="if: !selectedMapper()" class="container">
  <div class="row">
    <div class="span11" data-bind="template: {
      name: 'breadcrumb-template',
      data: {'mapperName': null}
    }"></div>
    <div data-bind="if: !user()" class="span1">
      <a class="btn btn-large btn-primary pull-right"
        href="https://www.dailycred.com/oauth/gateway?client_id=a17d7abb-849a-4fd1-ad9c-eff1eaf0cfb0&amp;response_type=token">Login</a>
    </div>
    <div data-bind="if: user" class="span1">
      <button
        class="btn btn-large btn-success pull-right"
        data-bind="click: createMapper">New Mapper</button>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Mapper</th>
        <th>Contributions</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: mappers">
      <tr data-bind="click: select" class="actionable">
        <td data-bind="text: mapperName"></td>
        <td data-bind="text: numContributions"></td>
        <td data-bind="text: lastUpdated"></td>
      </tr>
    </tbody>
  </table>
</section>