<script type="text/html" id="index">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <a href="#" class="brand" data-bind="click: gotoMappers">Mapper Maker</a>
          <ul class="nav">
            <li class="active"><a href="#" data-bind="click: gotoMappers">All Mappers</a></li>
            <li><a href="#api" data-bind="click: gotoAPI">API Documentation</a></li>
          </ul>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <div data-bind="if: !user()">
              <a class="btn btn-primary pull-right"
                href="https://www.dailycred.com/oauth/gateway?client_id=a17d7abb-849a-4fd1-ad9c-eff1eaf0cfb0&amp;response_type=token">Login to Contribute</a>
            </div>
            <div data-bind="if: user">
              <button
                class="btn btn-success pull-right"
                data-target="#contributionModal"
                data-toggle="modal">Add Contribution</button>
            </div>
          </div>
        </div></div>
      </div>
    </div>
  </div>
  <div class="paddingPush"></div>
  <div data-bind="if: selectedMapper" class="container">
    <!-- <div data-bind="template: {
        name: 'breadcrumb-template',
        data: selectedMapper
      }"></div> -->
    <div data-bind="template: {
      name: 'mapper-template',
      data: selectedMapper
    }" class="mapper"></div>
  </div>
  <section data-bind="if: !selectedMapper()" class="container">
    <!-- <div data-bind="template: {
      name: 'breadcrumb-template',
      data: {'mapperName': null}
    }"></div> -->
    <div class="alert alert-info">
      <strong>Mapper Maker</strong> is a generalization of <a href="http://en.wikipedia.org/wiki/Geotagging">geotagging</a> tools like <a href="http://beardspotter.com/">Beardspotter</a>.
      <br/>
      We grab live data from photo hosting services, like Flickr and Instagram,
      and present it visually via <a href="http://maps.google.com/">Google Maps</a>.
      <!-- <br/>
      Powered by <a>node.js</a>, <a>teleportd</a>, and a love for cats. meow. -->
    </div>
    <form class="form-search pull-right">
      <input
        type="text"
        placeholder="Search mappers..."
        class="input-medium search-query"
        data-bind="value: search">
    </form>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Mapper</th>
          <th>Contributions</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: filteredMappers">
        <tr data-bind="click: select" class="actionable">
          <td data-bind="text: mapperName"></td>
          <td data-bind="text: numContributions"></td>
          <td data-bind="text: lastUpdated"></td>
        </tr>
      </tbody>
    </table>
  </section>
  <div id="contributionModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add Mapper Maker contribution</h3>
    </div>
    <div class="modal-body">
      <div id="geospecify-map" class="google-maps">Loading map...</div>
      <form id="addressForm">
        <!-- TODO: Autocomplete for address as they type it in?-->
        <div class="input-append" style="margin-top: 5px;">
          <input id="address" type="text" style="width: 400px;" placeholder="1 Embarcadero Center, San Francisco, CA 94111" />
          <button type="submit" class="btn" style="width: 117px;">Update address</button>
        </div>
        <div class="row">
          <div class="span3">
            <span>Latitude: </span>
            <span id="lat" style="padding-top: 5px;">Fetching...</span>
          </div>
          <div class="span3">
            <span>Longitude: </span>
            <span id="lng" style="padding-top: 5px;">Fetching...</span>
          </div>
        </div>
      </form>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="keywords">Keywords</label>
          <div class="controls">
            <input type="text" id="keywords" class="input-block-level" placeholder="cat, feline, meow">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="url">URL (Optional)</label>
          <div class="controls">
            <input type="text" id="url" class="input-block-level" placeholder="http://p.twimg.com/JazzyCatMeow.jpg">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="desc">Description (Optional)</label>
          <div class="controls">
            <input type="text" id="desc" class="input-block-level" placeholder="My cat, jazzycat. meow.">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Submit Contribtion</button>
    </div>
  </div>
</script>
<script>
function loadGeoSpecify() {
  var JOYENT = {
        'lat': 37.7943446,
        'lng': -122.399981
      },
      NODEJITSU = {
        'lat': 40.7142,
        'lng': -74.0064
      },
      DEFAULT = JOYENT;

  $(function () {
    // Grab the output
    var $lat = $('#lat'),
        $lng = $('#lng');

    // Generate our map
    var map = new GMaps({
      'div': '#geospecify-map',
      'lat': DEFAULT.lat,
      'lng': DEFAULT.lng
    });

    // Add a draggable location marker
    var marker = map.addMarker({
      'lat': DEFAULT.lat,
      'lng': DEFAULT.lng,
      'draggable': true,

      // When it is done being dragged, output location updated
      'dragend': onDragend
    });

    function updateCoordsFn(coords) {
      var coords = {
        'lat': coords.lat(),
        'lng': coords.lng()
      };
      updateCoords(coords);
    }

    // Helper method to update coordinates
    function updateCoords(coords) {
      var latLng = new google.maps.LatLng(coords.lat, coords.lng);
      map.setCenter(coords.lat, coords.lng);
      marker.setPosition(latLng);

      // Output the location
      outputLocation();
    }

    // When the location is updated via the map, output it
    function onDragend() {
      outputLocation();
    }

    // Output the current location
    function outputLocation() {
      var position = marker.getPosition(),
          lat = position.lat(),
          lng = position.lng();

      // Update the latitude and longitude text
      $lat.text(window.properLat(lat));
      $lng.text(window.properLng(lng));

      // Expose the latitude and longitude to window
      window.lat = lat;
      window.lng = lng;
    }

    // Get the coordinates
    getCoordinates(function (err, coords) {
      // If there are coordinates, update the map to them
      if (coords) {
        // Set coordinates of map
        updateCoords({
          'lat': coords.latitude,
          'lng': coords.longitude
        });
      }
    });

    // When the form is submitted
    var $address = $('#address'),
        $addressForm = $('#addressForm');
    $addressForm.on('submit', function (e) {
      // Do not submit
      e.preventDefault();

      // Look up the address
      var address = $address.val();
      GMaps.geocode({
        'address': address,
          'callback': function (results, status) {
          if (status === 'OK') {
            // If there are results
            if (results.length > 0) {
              // Pick the first one
              var firstResult = results[0],
                  location = firstResult.geometry.location;

              // and update the map with it
              updateCoordsFn(location);
            }
          }
        }
      });
    });

    // When the map is right clicked, open a context menu
    map.setContextMenu({
      control: 'map',
      options: [{
        // with the option of "Move marker to here"
        title: 'Move marker to here',
        name: 'move_marker',

        // If the "Move marker to here" is clicked
        action: function (e) {
          // Move the marker to the point of interaction
          var location = e.latLng;
          updateCoordsFn(location);
        }
      }]
    });
  });
}

// Define latLngPadder
function normalizeLat(lat) {
  var latStr = lat + '';

  // Guarantee a decimal place in the number
  if (latStr.indexOf('.') === -1) {
    latStr = latStr + '.';
  }

  // Pad out to 4 decimal places
  latStr = latStr.replace(/(\.\d{0,3})$/, function (_, decimal) {
    // Add on the missing amount of items
    var decimalPlaces = decimal.length - 1,
        i = 0,
        len = 4 - decimalPlaces;
    for (; i < len; i++) {
      decimal += '0';
    }
    return decimal;
  });

  // Truncate off excess decimal places
  latStr = latStr.replace(/(\.\d{4})\d*$/, function (_, decimal) {
    return decimal;
  });

  // Return the latStr
  return latStr;
}

// Define window.properLat and window.properLng
window.properLat = function (lat) {
  // Fallback lat
  if (lat === undefined) { lat = window.lat; }

  // Convert lat to a number and determine direction
  var latNum = +lat,
      isNonNegative = latNum >= 0,
      direction = isNonNegative ? 'N' : 'S';

  // Get the absolute value and output it
  var absLat = Math.abs(latNum),
      normalLat = normalizeLat(absLat),
      properLat = normalLat + direction;
  return properLat;
};

// Define window.properLng
window.properLng = function (lng) {
  // Fallback lng
  if (lng === undefined) { lng = window.lng; }

  // Convert lng to a number and determine direction
  var latNum = +lng,
      isNonNegative = latNum >= 0,
      direction = isNonNegative ? 'E' : 'W';

  // Get the absolute value and output it
  var absLng = Math.abs(latNum),
      normalLng = normalizeLat(absLng),
      properLng = normalLng + direction;
  return properLng;
}

// // Bind to the contribution modal once the DOM is ready
// setTimeout(function () {
//   $(loadGeoSpecify);
// }, 1000);

// When the contribution modal is opened
$('body').on('shown', '#contributionModal', loadGeoSpecify);
</script>