<script type="text/html" id="mapper-template">
  <h2 data-bind="text: mapperName"></h2>
  <div class="row">
    <div id="map" class="google-maps span12"><span class="muted">Fetching data...</span></div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Meta Data</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: contributions">
      <tr>
        <td data-bind="text: lat"></td>
        <td data-bind="text: lng"></td>
        <td data-bind="text: metaStr"></td>
      </tr>
    </tbody>
  </table>
  <p>Updated: <span data-bind="text: lastUpdated"></span></p>
</script>