@catSpacing: 10px;

body {
  position: relative;
  padding-top: 40px;
}
.paddingPush {
  padding-top: 40px;
}
.actionable {
  cursor: pointer;
}
.cat {
  position: fixed;
  right: @catSpacing;
  bottom: @catSpacing;
}
.google-maps {
  height: 400px;
}
.modal-body {
  max-height: none;
}
.modal-body .google-maps {
  width: 530px;
  height: 200px;
}
.tablePic {
  width: 60px;
  height: 60px;
}