@catSpacing: 10px;

body {
  position: relative;
  padding-top: 40px;
}
.paddingPush {
  padding-top: 40px;
}
.actionable {
  cursor: pointer;
}
.cat {
  position: fixed;
  right: @catSpacing;
  bottom: @catSpacing;
}
.map {
  height: 300px;
}

.modal-body .google-maps {
  width: 530px;
  height: 100px;
}