<div data-bind="template: 'index'">Loading...</div>
div.
  <script>
    setTimeout(function () {
      // Click on the api button
      var $apiLink = $('.navbar li a').eq(1);
      console.log($apiLink);
      $apiLink.click();
    }, 100);
  </script>