div#geoOutput Waiting for input...

script
  $(function () {
    // Grab the output and the geolocation
    var $geoOutput = $('#geoOutput'),
        geolocation = window.navigator.geolocation;

    // If geolocation exists, start fetching location
    if (geolocation) {
      $geoOutput.text('Geolocation available!! Requesting up your location...');

      // Make a request for the current position
      geolocation.getCurrentPosition(function (position) {
        var coords = position.coords;
        $geoOutput.text('Geolocation found!! Lat: ' + coords.latitude + ' Lng: ' + coords.longitude);
      }, function (err) {
        $geoOutput.text('Geolocation could not be used =(');
      });
    } else {
    // Otherwise, update geolookup
      $geoOutput.text('Geolocation not available =(');
    }
  });