div#geoOutput Waiting for input...

script
  $(function () {
    // Grab the output and the geolocation
    var $geoOutput = $('#geoOutput');

    getCoordinates(function (err, coords) {
      // If there was an error, update the text accordingly
      if (err) {
        $geoOutput.text('Geolocation could not be used =(');
      } else {
      // Otherwise, output the coordinates
        $geoOutput.text('Geolocation found!! Lat: ' + coords.latitude + ' Lng: ' + coords.longitude);
      }
    });
  });