<div data-bind="template: 'index'">Loading...</div>
div.
  <script>
    setTimeout(function () {
      // "Login"
      mapperViewModel.user({'a': 'b'})

      // Click on contribute
      var $addContribution = $('.navbar .btn');
      $addContribution.click();
    }, 100);
  </script>