div#map.google-maps
style
  #map {
    height: 300px;
    width: 600px;
  }

form#addressForm
  // TODO: Autocomplete for address as they type it in?
  input#address(placeholder="1 Embarcadero Center, San Francisco, CA 94111")
  button.btn(type="submit") Update address

p#geoOutput Resolving location...

script
  var JOYENT = {'lat': 37.7943446, 'lng': -122.399981},
      NODEJITSU = {'lat': 40.7142, 'lng': -74.0064},
      DEFAULT = NODEJITSU;

  $(function () {
    // Grab the output
    var $geoOutput = $('#geoOutput');

    // Generate our map
    var map = new GMaps({
      'div': '#map',
      'lat': DEFAULT.lat,
      'lng': DEFAULT.lng
    });

    // Add a draggable location marker
    var marker = map.addMarker({
      'lat': DEFAULT.lat,
      'lng': DEFAULT.lng,
      'draggable': true,

      // When it is done being dragged, output location updated
      'dragend': onDragend

        // Open a context menu
    });

    function updateCoordsFn(coords) {
      var coords = {
            'lat': coords.lat(),
            'lng': coords.lng()
          };
      updateCoords(coords);
    }

    // Helper method to update coordinates
    function updateCoords(coords) {
      var latLng = new google.maps.LatLng(coords.lat, coords.lng);
      map.setCenter(coords.lat, coords.lng);
      marker.setPosition(latLng);

      // Output the location
      outputLocation();
    }

    // When the location is updated via the map, output it
    function onDragend() {
      outputLocation();
    }

    // Output the current location
    function outputLocation() {
      var position = marker.getPosition();
      $geoOutput.text('Latitude: ' + position.lat() + ', Longitude: ' + position.lng());
    }

    // Get the coordinates
    getCoordinates(function (err, coords) {
      // If there are coordinates, update the map to them
      if (coords) {
        // Set coordinates of map
        updateCoords({
          'lat': coords.latitude,
          'lng': coords.longitude
        });
      }
    });

    // When the form is submitted
    var $address = $('#address'),
        $addressForm = $('#addressForm');
    $addressForm.on('submit', function (e) {
      // Do not submit
      e.preventDefault();

      // Look up the address
      var address = $address.val();
      GMaps.geocode({
        'address': address,
        'callback': function(results, status) {
          if (status === 'OK') {
            // If there are results
            if (results.length > 0) {
              // Pick the first one
              var firstResult = results[0],
                  location = firstResult.geometry.location;

              // and update the map with it
              updateCoordsFn(location);
            }
          }
        }
      });
    });

    // When the map is right clicked, open a context menu
    map.setContextMenu({
      control: 'map',
      options: [{
        // with the option of "Move marker to here"
        title: 'Move marker to here',
        name: 'move_marker',

        // If the "Move marker to here" is clicked
        action: function (e) {
          // Move the marker to the point of interaction
          var location = e.latLng;
          updateCoordsFn(location);
        }
      }]
    });
  });