div#map.google-maps
style
  #map {
    height: 300px;
    width: 600px;
  }

p
  // TODO: Autocomplete for address as they type it in?
  input#address(placeholder="1 Embarcadero Center, San Francisco, CA 94111")

p#geoOutput Resolving location...

script
  var JOYENT = {'lat': 37.7943446, 'lng': -122.399981},
      NODEJITSU = {'lat': 40.7142, 'lng': -74.0064},
      DEFAULT = NODEJITSU;

  $(function () {
    // Grab the output
    var $geoOutput = $('#geoOutput');

    // Generate our map
    var map = new GMaps({
      'div': '#map',
      'lat': DEFAULT.lat,
      'lng': DEFAULT.lng
    });

    // Add a draggable location marker
    var marker = map.addMarker({
      'lat': DEFAULT.lat,
      'lng': DEFAULT.lng,
      'draggable': true
    });

    // Helper method to update coordinates
    function updateCoords(coords) {
      var latLng = new google.maps.LatLng(coords.lat, coords.lng);
      map.setCenter(coords.lat, coords.lng);
      marker.setPosition(latLng);
    }

    // Output the current location
    function outputLocation() {
      var position = marker.getPosition();
      $geoOutput.text('Latitude: ' + position.lat + ', Longitude: ' + position.lng);
    }

    // Get the coordinates
    getCoordinates(function (err, coords) {
      // If there are coordinates, update the map to them
      if (coords) {
        // Set coordinates of map
        updateCoords({
          'lat': coords.latitude,
          'lng': coords.longitude
        });
      }
    });
  });