div#map
style
  #map {
    height: 300px;
  }

script
  var SF = {'lat': 37.7750, 'lng': -122.4183},
      SAN_JOSE = {'lat': 37.3041, 'lng': -121.8727},
      NYC = {'lat': 40.7142, 'lng': -74.0064},
      LONDON = {'lat': 51.5171, 'lng': -0.1062},
      MOSCOW = {'lat': 55.7517, 'lng': 37.6178},
      ZANZIBAR = {'lat': -6.1333, 'lng': 39.3167};

  var locations = [

  ];

  var map = new GMaps({
    div: '#map',
    lat: 37.3041,
    lng: -121,
    markers: [
      SF,
      SAN_JOSE,
      NYC
      // LONDON,
      // MOSCOW,
      // ZANZIBAR
    ]
  });

  var southWest = new google.maps.LatLng(SF.lat,SF.lng);
  var northEast = new google.maps.LatLng(SAN_JOSE.lat,SAN_JOSE.lng);
  var bounds = new google.maps.LatLngBounds(southWest,northEast);

  map.map.fitBounds(bounds);

  // map.fitZoom();