div#map
style
  #map {
    height: 300px;
  }

script
  // Create list of cities
  var SF = {'lat': 37.7750, 'lng': -122.4183},
      SAN_JOSE = {'lat': 37.3041, 'lng': -121.8727},
      NYC = {'lat': 40.7142, 'lng': -74.0064},
      LONDON = {'lat': 51.5171, 'lng': -0.1062},
      MOSCOW = {'lat': 55.7517, 'lng': 37.6178},
      ZANZIBAR = {'lat': -6.1333, 'lng': 39.3167},
      SHANGHAI = {'lat': 31.2000, 'lng': 121.5000};

  if (false) {
    // Populate the list of locations with our cities (stub data)
    var locations = [
      SF,
      SAN_JOSE,
      NYC,
      LONDON,
      MOSCOW,
      ZANZIBAR,
      SHANGHAI
    ];

    // Generate our map
    var map = new GMaps({
      div: '#map',
      lat: 37.3041,
      lng: -121
    });

    // Add in each location
    locations.forEach(function (location) {
      map.addMarker(location);
    });

    // Adjust the zoom to all markers
    map.fitZoom();
  } else {
    // Populate the list of locations with our cities (stub data)
    var locations = [
      SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF
    ];

    // Generate our map
    var map = new GMaps({
      div: '#map',
      lat: SF.lat,
      lng: SF.lng
    });

    // Add in each location
    locations.forEach(function (location) {
      map.addMarker(location.clone());
    });

    // Adjust the zoom to all markers
    map.fitZoom();
  }