div#map.google-maps
style
  #map {
    height: 300px;
    width: 600px;
  }

script
  // Create list of cities
  var SF = {'lat': 37.7750, 'lng': -122.4183},
      SAN_JOSE = {'lat': 37.3041, 'lng': -121.8727},
      NYC = {'lat': 40.7142, 'lng': -74.0064},
      LONDON = {'lat': 51.5171, 'lng': -0.1062},
      MOSCOW = {'lat': 55.7517, 'lng': 37.6178},
      ZANZIBAR = {'lat': -6.1333, 'lng': 39.3167},
      SHANGHAI = {'lat': 31.2000, 'lng': 121.5000};

  // Populate the list of locations with our cities (stub data)
  var locations = [
    SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,
    SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,
    NYC,NYC,NYC,NYC,
    LONDON,
    MOSCOW,MOSCOW,MOSCOW,MOSCOW,MOSCOW,MOSCOW,
    ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,
    SHANGHAI
  ];

  // Generate our map
  var map = new GMaps({
    div: '#map',
    lat: SF.lat,
    lng: SF.lng
  });

  // Break all pass-by-objects to avoid GMaps deletion of cities
  locations = JSON.parse(JSON.stringify(locations));

  // Set up the marker icon as a cirlce
  locations = locations.map(function (location) {
    location.icon = {
      path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW
    };
    return location;
  });

  // Add in the locations
  map.addMarkers(locations);

  // Adjust the zoom to all markers
  map.fitZoom();
