div#map.google-maps
style
  #map {
    height: 300px;
    width: 600px;
  }

script
  // Create list of cities
  var SF = {'lat': 37.7750, 'lng': -122.4183},
      SAN_JOSE = {'lat': 37.3041, 'lng': -121.8727},
      NYC = {'lat': 40.7142, 'lng': -74.0064},
      LONDON = {'lat': 51.5171, 'lng': -0.1062},
      MOSCOW = {'lat': 55.7517, 'lng': 37.6178},
      ZANZIBAR = {'lat': -6.1333, 'lng': 39.3167},
      SHANGHAI = {'lat': 31.2000, 'lng': 121.5000};

  // Populate the list of locations with our cities (stub data)
  var locations = [
    SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,SF,
    SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,SAN_JOSE,
    NYC,NYC,NYC,NYC,
    LONDON,
    MOSCOW,MOSCOW,MOSCOW,MOSCOW,MOSCOW,MOSCOW,
    ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,ZANZIBAR,
    SHANGHAI
  ];

  // Generate our map
  var map = new GMaps({
    div: '#map',
    lat: SF.lat,
    lng: SF.lng
  });

  // DEV: Break all pass-by-objects to avoid GMaps deletion of cities
  locations = JSON.parse(JSON.stringify(locations));

  // Render locations to markers
  var markers = locations.map(function (location) {
    var marker = map.createMarker(location);
    return marker;
  });

  // Grab marker positions
  var markerPositions = markers.map('getPosition');

  // Adjust the zoom to all markers
  map.fitLatLngBounds(markerPositions);

  // Create a marker clusterer on the locations
  var mcOptions = {gridSize: 50, maxZoom: 15},
      mc = new MarkerClusterer(map.map, markers, mcOptions);