div#map
style
  #map {
    height: 300px;
  }

script
  var SF = {'lat': '37.7750N', 'long': '122.4183W'},
      SAN_JOSE = {'lat': '37.3041N', 'long': '121.8727W'},
      NYC = {'lat': '40.7142N', 'long': '74.0064W'},
      LONDON = {'lat': '51.5171N', 'long': '0.1062W'},
      MOSCOW = {'lat': '55.7517N', 'long': '37.6178E'},
      ZANZIBAR = {'lat': '6.1333S', 'long': '39.3167E'};

  var locations = [

  ];

  new GMaps({
    div: '#map',
    lat: -12.043333,
    lng: -77.028333
  });