script(type="text/html", id="mapper-template")
  <h3 data-bind="text: mapperName"></h3>
  <p>Updated: <span data-bind="text: lastUpdated"></span></p>
script(type="text/html", id="breadcrumb-template")
  <ul class="breadcrumb">
  <li><a data-bind="click: deselect" href="#">Home</a><span class="divider">/</span></li>
  <li><a data-bind="text: mapperName" class="active"></a></li>
  </ul>
script(src="public/mvc/all.js")
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#") Mapper Maker
      ul.nav
        li.active
          a(href="#") Home
      .nav-collapse.collapse.navbar-responsive-collapse
        form.navbar-search.pull-right
          input.search-query.span2(type="text", placeholder="Search")
.container.paddingPush(data-bind="if: selectedMapper()")
  div(data-bind="template: { name: 'breadcrumb-template', data: selectedMapper }")
section.container
  table.table.table-striped.table-hover(data-bind="if: !selectedMapper()")
    thead
      tr
        th Mapper
        th Contributions
        th Last Updated
    tbody(data-bind="foreach: mappers")
      tr.actionable(data-bind="click: select")
        td(data-bind="text: mapperName")
        td(data-bind="text: contributions")
        td(data-bind="text: lastUpdated")
  div(data-bind="if: selectedMapper")
    .mapper(data-bind="template: { name: 'mapper-template', data: selectedMapper }")