script(src="public/mvc/all.js")
.navbar
  .navbar-inner
    a.brand(href="#") Mapper Maker
    ul.nav
      li.active
        a(href="#") Home
section.container
  table.table.table-striped.table-hover
    thead
      tr
        th Mapper
        th Contributions
        th Last Updated
    tbody(data-bind="foreach: mappers")
      tr.actionable
        td(data-bind="text: mapperName")
        td(data-bind="text: contributions")
        td(data-bind="text: lastUpdated")