!!!
html
  head
    title Mapper Maker
    link(href="/public/css/all.css",rel="stylesheet")
    script(src="/public/js/all.js")
  body
    .container
      .navbar
        .navbar-inner
          a.brand(href="#") Mapper Maker
          ul.nav
            li.active
              a(href="#") Home
    section.container
      .well(data-content="")