<div data-bind="template: 'index'">Loading...</div>
div.
  <script>
    setTimeout(function () {
      // Click on the first mapper
      var $mappers = $('table tbody tr');
      
      // Reduce to Hurricane Sandy
      $mappers.eq(3).click();
    }, 750);
  </script>